body {
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	background-color: #f8f8f8;
	border-top: 5px solid #7e7e7e;
	margin: 0;
}
button {
	color: #fff;
	background-color: #29c5e6;
	border: none;
	height: 32px;
	font-family: 'Oswald', sans-serif;
}
#wrapper {
	max-width: 1450px;
	margin: auto;
}
header {
	padding: 20px 0;
	padding-left: 290px;
	border-bottom: 30px solid rgb(66, 66, 66);
}

.logo{
	width: 50px;
	height: 40px;
	position: absolute;
	left: 300px;
	/* position: relative;
	overflow: hidden; */
}
nav a {
	text-decoration: none;
	/* убираем подчёркивание у текста */
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font: 14px 'Oswald', sans-serif;
	padding: 10px;
}

.top-menu li {
	display: inline-block;
	padding: 10px 30px;
	margin: 0;
}

.top-menu a {
	color: #b2b2b2;
}
#heading {
	margin: 30px 0;
	padding-left: 20px;
}

h1 {
	display: inline-block;
	color: #7e7e7e;
	font: 40px/40px 'Oswald', sans-serif;
	margin: 0;
	padding: 0 10px;
}
aside {
	float: left;
	width: 250px;
}

.aside-menu li {
	font-weight: 300;
	list-style-type: square;
	border-top: 1px solid #e7e7e7;
}

.aside-menu li:first-child {
	border: none;
}

.aside-menu a {
	color: #8f8f8f;
}
.products-clearfix{
    float: left;
    width: 75%;
}
.product-wrapper {
	display: block;
	width:25%;
	float: left;
	transition: width .2s;
}
.product {
	display: block;
	border: 1px solid #b5e9a7;
	border-radius: 3px;
	position: relative;
	background: #fff;
	margin: 0 10px 10px 0;
	text-decoration: none;
	color: #474747;
	z-index: 0;
	height: 400px;
}

.product-photo {
	position: relative;
	padding-bottom: 100%;
	overflow: hidden;
	border-bottom: 1px solid #b5e9a7;
}

.product-photo img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	transition: transform .4s ease-out;
}
.product-description{
	float: left;
	color: #474747;
	font: 18px/18px 'Oswald', sans-serif;
	margin: 15px;
}
.product-button{
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 5px;
}
.price{
	color: #030303;
	font: 25px/25px 'Oswald', sans-serif;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 10px;
}
/* починить background-color */
.Tarantino{
	/* футер */
	
	background-color: rgb(114, 110, 105);
}
.copyright{
	color: #ffffff;
	font: 18px/18px 'Oswald', sans-serif;
	margin: 5px;
}
.mail{
	position: relative;
	left: 100px;
	margin: 5px;
	color: #ffffff;
	font: 18px/18px 'Oswald', sans-serif;
}
.aaaaaa{
	clear: left;
}